{% extends 'base.html' %}
{% block content %}
  {% if users|length == 0 %}
    <h3>Sorry, no users found</h3>
  {% else %}
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <h4>Users</h4>
        <ul class="list-group">
          {% for user in users %}
          <li class="list-group-item">
            <img src="{{ user.image_url }}" alt="{{ user.username }}" class="timeline-image">
            <a href="/users/{{ user.id }}">@{{ user.username }}</a>
            <p>{{ user.bio }}</p>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}
{% endblock %}